[submodule "Template"]
	path = Template
	url = https://github.com/WUST-mengqinyu/Template.git
[submodule "ctre"]
	path = third_party/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
