# bazel project
bazel-*
.clwb

# binary files
my
std
gen
runner

# main file
main.cc


# build dir
build/
target/

# archive dir
archive/codeforces/*/
archive/atcoder/*/


# data dir
/compare/data/*.in
/compare/data/*.out
/compare/bin
cmake-build-debug/
.cache/
.idea/
consts.h
bin/*.cc
bin_output/*.cc
bundle/src/consts.rs
tools/idl-gen-plugins
